.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}

.darkMode {
  position: absolute;
  right: 0
  
}

.dark {
  background-color: rgb(17, 24, 34);
  color: white;
}

.light {
  background-color: white;
  color: black;
}

 /* .card {
  background-color: rgba(255, 255, 255, 0.348);
  background-color: rgba(227, 112, 247, 0.47);
  background-color: rgb(183,216,241);
} */

.nav {
  text-align: center;
}

.about {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.top-row {
  margin-top: 20%;
  margin-left: 35%;
  margin-right: 35%;
}

.bottom-row {
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 35%;
} 

.font {
  color: #808080;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




